.chang_password{
    width: 970px;
    height: auto;
    margin: 0px auto 0px auto;
}
.chang_password ::placeholder{
    color: white;
}
h1{
   font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #6E6D4E;
}   
.chang1{
    margin: 15px 0px 15px 0px;
}
.chang2{
    margin: 0px;
    margin: 15px 0px 15px 0px;
}
.chang3{
    margin: 0px;
    margin: 15px 0px 15px 0px;
}
.oddpassword input{
    width: 944px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px;
    background-color: #91971D;
    padding-left: 10px;
    border: none;
}
.newpassword input{
    width: 944px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px;
    background-color: #91971D;
    padding-left: 10px;
    border: none;
}
.confirmpassword input{
    width: 944px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px;
    background-color: #91971D;
    padding-left: 10px;
    border: none;
}
.information5{
    margin: 0px;
    text-align: right;
}
.button_chang_password{
    display: inline-block;
}
.button_chang_password input{
    width: 101px;
    height: 40px;
    background-color: #F0DEB4;
    color: #6E6D4E;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 5px;
}
