.navbar3{
    width: auto;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    background-color: #6E6D4E;
}
.navbar3 li {
    display: inline-block;
    margin: 30px 20px 18px 20px;
}
.navbar3 .icom{
    margin-right: 20px;
    font-size: 30px;
    color: #D8CD4A;
    cursor: pointer;
}